@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

.snack-success .mdc-snackbar__surface { background-color: #2e7d32 !important; }
.snack-error .mdc-snackbar__surface { background-color: #c62828 !important; }
